/* Figma Styles of your File */
:root {
  /* Colors */
  --_1: #faa825;
  --_2: #183c66;
  --_3: #ffffff;
  --_4: #7a75b5;
  --_5: #434242;

  /* Fonts */

  /* Effects */
  --_213-box-shadow: 8px 8px 36px 0px rgba(255, 199, 0, 0.4);
}
